<div class="w3-card-4">
  <input #myInput  class="w3-input" type="text"
         placeholder="Suche nach Ländern ..."
         (keyup.enter)="doSearch(myInput.value)"
  />
  <button (click)="doSearch(myInput.value)" class="w3-button w3-theme-l3">
    Suchen
  </button>
</div>
<ul class="w3-ul w3-card-4" *ngFor="let tempCountry of countries; let even = even; ">
  <li class="w3-bar w3-theme-l3">
    <a routerLink="/country/{{ tempCountry.id }}">
      <div *ngIf="even; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><img src="assets/img/country_1.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"></ng-template>
      <ng-template #elseBlock><img src="assets/img/country_2.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"></ng-template>
      <div class="w3-bar-item">
        <span class="w3-large">{{ tempCountry.nameDe}}</span><br/>
      </div>
    </a>
  </li>
</ul>
<mat-paginator [length]="theTotalElements"
               [pageSize]="thePageSize"
               [pageSizeOptions]="[5, 10, 25, 50]"
               (page)="onPageChange($event)">
</mat-paginator>
